/* 
    MAIN
*/
.card {margin-top: 3.125rem;border: .0625rem solid #ccc;border-radius: .3125rem;box-shadow: 0 .125rem .3125rem rgba(0, 0, 0, 0.3);}
  
.card-body {padding: 1.25rem;}

.card-img-top {height: 31.25rem;object-fit: cover;}
  